@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

.mainbody
{
    background: url(https://images.unsplash.com/photo-1510525009512-ad7fc13eefab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.container {
  width: 50em;
  display: block;
  margin: 0 auto;
  margin-top: 10em;
  border-radius: 10px;
  padding-bottom: 50px;
  border: groove black;
  background: rgba(255,255,255,0.4);
  background-clip: padding-box;
  height: 22em;
}

.app-title {
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  font-family: 'Bungee';
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
  color: black;
  border-bottom: groove black;
}

.notification {
  background-color: pink;
  display: none;
}

.notification p {
  color: white;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 30em;
  height: 260px;
}

.weather-icon {
  width: 30em;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
  margin-left: 20em;
}

.temperature-value {
  width: 40em;
  height: 60px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
  margin-left: 20%;
}

.temperature-value span {
  color: red;
  font-size: 0.5em;
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: black;
  text-align: center;
  font-size: 2em;
  margin-left: 50%;
}

.location p {
  font-weight: bolder;;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: -webkit-xxx-large;
  margin-left: 50%;
}
